[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-phonenumber-field = "*"
whitenoise = "*"
phonenumbers = "*"
environ = "*"
telebot = "*"
django-modeltranslation = "*"

[dev-packages]

[requires]
python_version = "3.10"
