{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %} {% blocktrans %}Aloqa{% endblocktrans %} {% endblock title %}


{% block content %}


    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">{% blocktrans %}Aloqa{% endblocktrans %}</h6>
                <h1 class="mb-5">{% blocktrans %}Promoy kompaniyasi bilan aloqa{% endblocktrans %}</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="mb-4">{% blocktrans %}Promoy – bu yuqori sifatli xizmatlar va innovatsion yechimlar bilan sizning muvaffaqiyatingizga hissa qo‘shuvchi ishonchli hamkor. Biz sizga o’z-o’ziga xizmat kursatuvchi avto yuvish shahobchasini qurishda noldan yordam beramiz.{% endblocktrans %}</p>
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">{% blocktrans %}Office{% endblocktrans %}</h5>
                            <p class="mb-0">{% blocktrans %}Salarbo'yi ko'chasi, 35, Toshkent{% endblocktrans %}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">{% blocktrans %}Mobile{% endblocktrans %}</h5>
                            <p class="mb-0">+998901234567</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-envelope-open text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">{% blocktrans %}Email{% endblocktrans %}</h5>
                            <p class="mb-0">info@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <iframe class="position-relative rounded w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                        frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                </div>
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form method="POST" id="myForm">{% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ request.name }}">
                                    <label for="name">{% blocktrans %}Ism Familya{% endblocktrans %}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="tel" class="form-control" id="email" placeholder="Telefon" name="phone_number">
                                    <label for="email">{% blocktrans %}Telefon Raqam{% endblocktrans %}</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" name="address" placeholder="Subject">
                                    <label for="subject">{% blocktrans %}Manzil{% endblocktrans %}</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" name="message" style="height: 150px"></textarea>
                                    <label for="message">{% blocktrans %}Xabar{% endblocktrans %}</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">{% blocktrans %}Yuborish{% endblocktrans %}</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


{% endblock content %}
